body {
    font-family: "Afacad Flux";
    margin: 0;
    background: #f7f7f7;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #E19E11;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    width: 70px;
    height: auto;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #663E1F;
}

nav ul li a:hover {
    color: #ffffff;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.carousel-container img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    }

.description {
    padding: 30px;
    text-align: center;
}

.description h2 {
    font-size: 2rem;
    text-align: center;
}

.description p {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    text-align: center;
}

.contact-section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.contact-section h3 {
    margin-bottom: 20px;
}

.contact-form {
    display: grid;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact-form button {
    background: #663E1F;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background: #E5D595;
}

.social-section {
    padding: 30px;
    text-align: center;
}

.artist-social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.artist-block {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.artist-block h4 {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 768px) {
    nav ul { display: none; }
}