body {
    font-family: "Afacad Flux";
    margin: 0;
    background: #f7f7f7;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #E19E11;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    width: 70px;
    height: auto;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #663E1F;
}

nav ul li a:hover {
    color: #ffffff;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.carousel-container img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    }

.description {
    padding: 30px;
    text-align: center;
}

.description h2 {
    font-size: 2rem;
    text-align: center;
}

.description p {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    text-align: center;
}

.faq-section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

.faq-item {
    background: white;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
}

.faq-question {
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.faq-question::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 20px;
    transition: transform 0.3s;
}

.faq-question.active::after {
    transform: rotate(45deg);
}

.faq-answer {
    display: none;
    padding: 0 20px 15px 20px;
    line-height: 1.6;
}

@media (max-width: 768px){
    nav ul { display: none; }
}